/* setting margin of whole body to 0 */
body {
    margin: 0px;
}


.main {
    background: url(../img/back.jpg) fixed;
    padding: 0px;
}

/* image link of the brand */
#logo-image {
    height: 30px;
    width: 30px;
    filter: invert(1);
}


#brand-name {
    color: white;
    font-size: 30px;
}

.navlinks { 
    color: white;
}

@media (max-width: 950px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

/* carousel images */
#my-carousel {
    margin: 60px auto 0px auto;
    height: 500px;
    max-width: 1000px;
    /* width: 1000px; */
    background: blue;
}
#my-carousel .item{
    height: 500px;
    width: 1000px;
}

#slide1 {
    background: url(../img/item1_1280-1200x600.jpg) top center no-repeat;
}

#slide2 {
    background: url(../img/item2_1280-1200x600.jpg) top center no-repeat;
}

#slide3 {
    background: url(../img/item3_1280-1200x600.jpg) top center no-repeat;
}
#slide4 {
    background: url(../img/item4_1280-1200x600.jpg) top center no-repeat;
}


/* End carousel settings */


/* Three section settings */
#three-section-heading {
    margin: auto;   
}
#sect3wrapper {
    display: flex;
    flex-wrap: wrap;
}


#three-section-boxes{
    height: 350px;
}


@media (max-width: 992px){
    #sect3wrapper {
        flex-direction: column;
    }
    .col-sm-4{
        width: 100%;
        height: auto;
    }
    #three-section-boxes {
        height: auto;
        width: 100%;
    }
}
/* end Three section settings */

/* Two section settings */
#sect2wrapper {
    display: flex;
    flex-wrap: wrap;
}
#two-section-boxes {
    height: 580px;
}
@media (max-width: 1200px){
    #two-section-boxes {
        height: 630px;
    }
}
@media (max-width: 992px){
    #sect2wrapper {
        flex-direction: column;
    }
    .col-sm-6{
        width: 100%;
        height: auto;
    }
    #two-section-boxes {
        height: auto;
        width: 100%;
    }
}

/* END Two section settings */

.type-1 {
	max-width: 480px;
	height: 30px;
	border-radius: 5px;
	margin: 10px auto;	
}

.type-2 {
	max-width: 480px;
	height: 30px;
	border-radius: 5px;
	margin: 10px auto;
	border-style: none;
	font-size: 15px;
}

.type-2:hover {
	background-color: green;
	transition: 0.3s;
}

textarea {
	max-width: 480px;
	height: 100px;
	border-radius: 5px;
	margin: 10px auto;
	resize: none;	
}

.label_select {
	cursor: pointer;
}
fieldset{
	border: 1px sothreelid black;
	padding-left: 10px;
}

/* footer settings */
#footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    background: url(../img/footer_back.jpg);
    padding: 10px;
}
#footer-boxes {
    background: transparent;
    color: white;
}
@media (max-width: 1200px){
    
}
/* end footer settings */
.social li{
	display: inline;
	padding-right: 10px;
}
.social img{
	height: 35px;
	width: 35px;
	filter: invert(1);

}