/* setting margin of whole body to 0 */
body {
    margin: 0px;
    font-family: 'Quicksand', sans-serif;

}


.main {
    background: url(../img/back.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#navbar-back {
    background: url(../img/footer_back.jpg);
    border-style: none;
}
#nav-form, #navlinks {
    font-family: 'Quicksand', sans-serif;
}
/* image link of the brand */
#logo-image {
    height: 30px;
    width: 30px;
    filter: invert(1);
}
#navlink li a{
    color: blue;
    font-size: 20px;
}

#brand-name {
    color: white;
    font-size: 30px;
}



/* code section for navbar collapse */
@media (max-width: 956px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
/* end code section for navbar collapse */

/* carousel images */
#my-carousel {
    margin: 60px auto 20px auto;
    max-height: 600px;
    max-width: 1200px;
    /* width: 1000px; */
    background: blue;
}
#my-carousel .item{
    height: 500px;
    width: 1000px;
}
.carousel-caption h4{
    font-family: 'Quicksand', sans-serif;
}
#slide1 {
    background: url(../img/item1_1280-1200x600.jpg) top center no-repeat;
}

#slide2 {
    background: url(../img/item2_1280-1200x600.jpg) top center no-repeat;
}

#slide3 {
    background: url(../img/item3_1280-1200x600.jpg) top center no-repeat;
}
#slide4 {
    background: url(../img/item4_1280-1200x600.jpg) top center no-repeat;
}
@media (min-width: 1200px){
    #my-carousel .item{
        width: 1200px;
    }
    .carousel-caption h4{
        font-size: 20px;
    }
}
@media (max-width: 991px){
    #my-carousel .item{
        width: 720px;
        /* height: 360px; */
    }
}

@media (max-width: 767px){
    #my-carousel .item{
        width: 100%;
    }
}

/* End carousel settings */


/* Three section settings */
#three-section-heading {
    margin: auto;
    padding: 0px 10px; 
    font-family: 'Quicksand', sans-serif;
    color: white;
    background: rgb(0,0,0,0.8);
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#sect3wrapper {
    display: flex;
    flex-wrap: wrap;
}

#three-section-boxes h3{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
#three-section-boxes{
    height: 320px;
    background: rgba(148, 103, 25, 0.5);
    color: white;
}
#three-section-boxes p {
    padding: 10px;
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
}

@media (max-width: 1199px){
    #three-section-boxes {
        height: 400px;
    }
}

@media (max-width: 992px){
    #sect3wrapper {
        flex-direction: column;
    }
    .col-sm-4{
        width: 100%;
        height: auto;
    }
    #three-section-boxes {
        height: auto;
        width: 100%;
    }
}
/* end Three section settings */

/* Two section settings */
#sect2wrapper {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}
#tab-box{
    padding-left: 0px;
}
#list-group-box {
    padding-right: 0px;
}
#two-section-boxes {
    height: 580px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}
@media (max-width: 1200px){
    #two-section-boxes {
        height: 630px;
    }
}
@media (max-width: 992px){
    #sect2wrapper {
        flex-direction: column;
    }
    .col-sm-6{
        width: 100%;
        height: auto;
    }
    #two-section-boxes {
        height: auto;
        width: 100%;
    }
    #tab-box{
        padding-right: 0px;
    }
    #list-group-box {
        padding-left: 0px;
    }
}

/* END Two section settings */


/* Tabs styling */
#tab1, #tab2 {
    color: white;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
}
#tab1, #tab2 p{
    margin: 10px;
    font-size: 15px;
}
#tab-head{
    font-family: 'Quicksand', sans-serif;
}
/* end Tabs styling */


/* modal settings */
.modal-content {
    background: black;
}
#modal-button{
    margin-left: 10px;
}
/* end modal settings */

/* form settings */
#form-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.type-1 {
    width: 100%;
	height: 30px;
	border-radius: 5px;
    margin: 10px auto;	
    font-family: 'Quicksand', sans-serif;
    color: black;
}

.type-2 {
    width: 100%;
	height: 30px;
	border-radius: 5px;
	margin: 10px auto;
	border-style: none;
    font-size: 15px;
    color: black;
    font-family: 'Quicksand', sans-serif;
    color: black;
    
}

.type-2:hover {
    background-color: green;
	transition: 0.3s;
}
textarea {
    width: 100%;
	height: 100px;
	border-radius: 5px;
	margin: 10px auto;
    resize: none;	
    font-family: 'Quicksand', sans-serif;
    color: black;
}

.label_select {
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;    
}
fieldset{
    width: 100%;
    border: 1px solid white;
    padding: 10px;
    height: auto;
    font-family: 'Quicksand', sans-serif;
}
legend {
    color: white;
}
/* end form settings */
/* listgroup settings */
#list-group-heading {
    padding: 0px 10px;
}
.list-group-item-header{
    font-family: 'Quicksand', sans-serif;
}
.list-group-item-header:hover {
    letter-spacing: 5px;
    transition: 0.5s;
}
a.list-group-item { 
    background: transparent;
    color: white;
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
}
a.list-group-item:hover{
    background: rgb(230,230,230);
    color: black;
    transition: 0.2s;
}
a.list-group-item:focus {
    text-decoration: none;
}

/* end listgroup settings */

/* footer settings */
#footer-back {
    background: url(../img/footer_back.jpg);

}
#footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    /* padding: 10px 20px; */
    font-family: 'Quicksand', sans-serif;

}
.footer-col {
    padding: 15px;
}
#footer-boxes-left, #footer-boxes-right {
    background: transparent;
    color: white;
    margin-bottom: 0px;
}
@media (max-width: 992px){
    #footer-boxes-right .panel-heading {
        padding-left: 0px;
    }
}


/* end footer settings */
.social-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.social-items img{
	height: 35px;
	width: 35px;
	filter: invert(1);

}